<footer>
        <p>@michaelcosj</p> 
        <a href="https://www.github.com/michaelcosj"><i class="fab fa-github"></i></a>
        <a href="https://www.instagram.com/michaelcosj"><i class="fab fa-instagram"></i></a>
        <a href="https://www.twitter.com/michaelcosj"><i class="fab fa-twitter"></i></a>
</footer>

