<div class="navbar-fixed">
  <nav id="navPartial">
      <div class="nav-wrapper">
        <a href="/shelf" class="brand-logo center">Shelf</a>
        <ul id="nav-mobile" class="right">
          <li><img src="{{user.photoURL}}" class="circle responsive-img profile-img"></li>
          {{!-- <li><a href="/auth/logout">Logout</a></li> --}}
        </ul>
        <ul class="left">
          <li><a href="/auth/logout">Log Out</a></li>
        </ul>
      </div>
  </nav>
</div>
