
<div class="container auth-wrapper">
    <div class="card">
        <div class="card-content">
            <div class="section card-title">
                <i class="fas fa-book-reader"></i> Shelf
            </div>
            <div class="divider"></div>
            <div class="section shelf-desc ">
                A <em>simple</em> library management web application for any kind of library
            </div>
            <div class="divider"></div>
            <div class="section">
                <a href="auth/google" class="btn auth-btn waves-effect waves-teal"><i class="fab fa-google"></i> Sign In</a>
            </div>
        </div>
    </div>
</div>