# Server config
PORT = 3000

# Database config
MONGO_URI = 

# Session Secret
SESSION_SECRET = 

# Google Client ID
GOOGLE_CLIENT_ID = 

# Google Client Secret
GOOGLE_CLIENT_SECRET = 

# Callback URL
CALLBACK_URL = 