<div class="container">
    <div class="center section">
        <form action="/book/return/{{borrowId}}" method="post">
            <div class="row">
                <div class="input-field col s12">
                    <input id="dateReturned" name="dateReturned" type="date" class="validate">
                    <label for="dateReturned">Return Date</label>
                </div>
                <button type="submit" class="btn app-btn">Return</button>
            </div>
        </form>
    </div>
</div>