<div class="section center">
<form action="/shelf/edit/{{shelfId}}?_method=PATCH" method="post">
        <div class="row">
            <div class="input-field col s12">
            <input id="name" type="text" class="validate" name="name">
            <label for="name">New Name</label>
            </div>
        </div>
    <button type="submit" class="btn app-btn">Update</button>
</form>
</div>