
<form action="/shelf/newshelf" method="post">
    <div class="section center">
        <div class="row">
            <div class="input-field col s12">
            <input id="name" type="text" class="validate" name="name">
            <label for="name">Shelf Name</label>
            </div>
        </div>
        <button class="btn app-btn">ADD</button>
    </div>
</form>
